.list{
    
    h1{
        font-size: 4rem;
        text-align: center;
        //color: white
    }

    &__input{

      display: flex;
      input{  font-size: 1.5rem;
        width: 88vw;
        text-align: center;
        position: relative;
        left: 4rem;}


        button{
          position: relative;
          left: 4rem;
          width: 3.3%;
                }
                
        margin-top: 2rem;
        margin-bottom: 2rem;
      
    }

    &__background{
        width: 90vw;
        gap: 10px;
        padding: 0px 15px;
       
        border-radius: 5px;
        border: none;
        
        position: relative;

        left: 4rem;
      
        font-weight: 900;
        transition-duration: .2s;
       // background: linear-gradient(0deg, #000, #272727);
       background-color: #ffffff ;
       }

       /*&__background:before,  &__background:after {
        content: '';
        position: absolute;
        left: -2px;
        top: -2px;
        border-radius: 10px;
        //background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
          //    #0000ff, #00ff00,#ffff00, #ff0000);
        background-size: 400%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        z-index: -1;
        animation: steam 20s linear infinite;
      }
      
      
      &__background:after {
        filter: blur(100px);
      }*/
       
      
      
}
